/* Home.css */

.home {
    display: flex; /* Use Flexbox to control layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align child elements horizontally */
    text-align: center; /* Center-align text within elements */
  }
  
  .home h1 {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 20px; /* Add some space below the heading */
  }
  
  .home p {
    font-size: 40px;
    color: #ffffff;
    margin-top: 20px; /* Add some space above the paragraph */
  }
  