/* Oceanic Voyage 🌊 */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/* Reset Styles: Preparing for Adventure */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
}

/* Seaside Sections: Where the Waves Beckon */
.home,
.about,
.app,
.StockPrice {
  display: flex;
  height: 86.75vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #7fb6d1; /* Deep Blue Sea */
  color: #f1faee; /* Whispering White */
  /* Setting the Stage for Exploration */
  position: relative;
  overflow: hidden;
}


.contact{
  display: flex;
  height: 86.75vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #7fb6d1; /* Deep Blue Sea */
  color: #f1faee; /* Whispering White */
  /* Setting the Stage for Exploration */
  position: relative;
  overflow: hidden;
}


/* Nautical Icons: Unveiling the Secrets of the Sea */
.page-icon {
  margin-left: 1rem;
  font-size: 30px;
  color: #a8dadc; /* Sea Foam Green */
}

/* Lost in the Abyss: The Enigmatic Scroll */
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* A Canvas for Exploration */
  background-image: linear-gradient(135deg, #0077b6, #0096c7); /* Cerulean Waters */
  /* A Glimmer of Hope */
  animation: error-page-flicker 1s ease-in-out infinite alternate;
}

/* A Harmonious Symphony: Sailing the Open Seas */
@media screen and (max-width: 960px) {
  .home,
  .about,
  .contact {
    font-size: 2.5rem;
  }

  .page-icon {
    margin-left: 1rem;
    font-size: 80px;
  }
}

/* Enchanted Animations */
@keyframes error-page-flicker {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
